<app-nav-home-page></app-nav-home-page>
<div id="bg-home-page">
    <div class="p-5 container">
      <div class="p-5 border rounded bg-dark">
        <h1 class="text-center text-white">Bem vindo ao meu teste, caso queria criar um cadastro no site ou logar, clique nos botões abaixo</h1>
        <div class="row pt-5">
          <div class="col-md-12 text-center">
            <button routerLink="/signup" type="button" class="btn btn-light btn-lg col-md-3">REGISTRAR-SE</button>
            <button routerLink="/login" type="button" class="btn btn-light btn-lg col-md-3 offset-md-2">LOGIN</button>
          </div>
        </div>
      </div>
    </div>
</div>