<app-nav-home-page></app-nav-home-page>
<div>
  <div class="p-5 container">
    <div class="card">
      <div class="card-header">
        <h3>Registrar-se</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="formUser" class="form" role="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Nome:</label>
            <input formControlName="name"
                   type="name"
                   class="form-control"
                   placeholder="Digite o seu nome" id="name"
                   [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            >
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Nome é um campo obrigatório</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input formControlName="email"
                   type="email"
                   class="form-control"
                   placeholder="Digite o e-mail"
                   id="email"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            >
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">E-mail é um campo obrigatório</div>
              <div *ngIf="f.email.errors.email">Formato de E-mail inválido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Senha:</label>
            <input formControlName="password"
                   type="password"
                   class="form-control"
                   placeholder="Digite sua senha"
                   id="password"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            >
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Senha é um campo obrigatório</div>
              <div *ngIf="f.password.errors.minlength">A senha tem que ter pelo menos 6 caracteres</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password_confirmation">Confirmar Senha:</label>
            <input  formControlName="password_confirmation"
                    type="password"
                    class="form-control"
                    placeholder="Digite sua senha"
                    id="password_confirmation"
                    [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }"
            >
            <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
              <div *ngIf="f.password_confirmation.errors.required">Comfirmar senha é um campo obrigatório</div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-dark">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>